---

---


<footer
    id="contact"
    class="mt-20 mb-10 text-center border-t border-pink-900/50 pt-10 font-['Fira_Code']"
>
    <div
        class="text-pink-400 mb-4 inline-block border border-pink-500/30 px-4 py-2 bg-pink-500/5 hover:border-pink-500/80 hover:shadow-[0_0_15px_rgba(236,72,153,0.2)] transition-all font-['DotGothic16'] text-lg"
    >
        <a
            href="mailto:l.eduardof1420@gmail.com"
            class="text-pink-500/70 hover:text-pink-300 transition-colors underline decoration-pink-500/30 text-neon"
        >
            Contact Gmail
        </a>
    </div>
    <div class="flex justify-center gap-6 mt-4">
        <a
            href="https://www.linkedin.com/in/luciano-fajardo-sanchez-463a1325b/"
            class="text-pink-500/70 hover:text-pink-300 transition-colors underline decoration-pink-500/30 text-neon"
            >LinkedIn</a
        >
        <a
            href="https://github.com/lucianoFajardo"
            class="text-pink-500/70 hover:text-pink-300 transition-colors underline decoration-pink-500/30 text-neon"
            >GitHub</a
        >
        <a
            href="https://www.instagram.com/luciano.fajardo.02/"
            class="text-pink-500/70 hover:text-pink-300 transition-colors underline decoration-pink-500/30 text-neon"
            >Instagram</a
        >
    </div>
    <p
        class="mt-8 text-xs text-pink-600/60 font-['Noto_Sans_JP'] tracking-widest"
    >
        Diseñado con &lt;3 en Astro. <span class="cursor"></span>
    </p>
</footer>
